@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 210 100% 50%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222 47% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222 47% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 210 100% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222 47% 11.2%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11.2%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11.2%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 100% 50%;
    --primary-foreground: 222 47% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.text-animation {
  position: relative;
  display: inline-block;
}

.text-animation span::before {
  content: "Data Analyst";
  animation: words 20s infinite;
}

@keyframes words {
  0%,
  20% {
    content: "Data Analyst";
  }
  21%,
  40% {
    content: "BI Developer";
  }
  41%,
  60% {
    content: "Web Scraper";
  }
  61%,
  80% {
    content: "Web Developer";
  }
  81%,
  100% {
    content: "Data Analyst";
  }
}

.text-animation span::after {
  content: "";
  position: absolute;
  right: -8px;
  height: 100%;
  width: calc(100% + 8px);
  background-color: hsl(var(--background));
  border-left: 2px solid transparent;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

.dark .text-animation span::after {
  background-color: hsl(var(--background));
}

.light .text-animation span::after {
  background-color: hsl(var(--background));
}

@keyframes cursor {
  to {
    border-left: 2px solid hsl(var(--primary));
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}
